<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Country</title>
</head>
<body>
<h3> Country </h3>
    <form method="POST" th:action="@{/processCountryForm}" th:object="${country}">

        Country name  <input type="text" th:field="*{name}" placeholder="name"/>
        <br><br>

        Country code  <input type="text" th:field="*{code}" placeholder="code"/>
        <br><br>

        Continent
        <select th:field="*{continent}">
            <option th:each="tempContinent: ${continentList}" th:value="${tempContinent.code}" th:text="${tempContinent.name}" placeholder="continent"/>
        </select>
        <br><br>

        ExtraTerritoriality
        <input type="checkbox" th:field="*{extraTerritoriality}" />
        <br><br>

        Language
        <input type="radio" th:field="*{favoriteLanguage}" th:each="tempLanguage :${languageList}" th:value="${tempLanguage}" th:text="${tempLanguage}"></input>
        <br><br>
        <input type="submit"/>
    </form>
</body>
</html>